<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <h1>Listar usuarios</h1>

    <table>
        <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Edad</td>
            <td>Modificar</td>
            <td>Eliminar</td>
        </tr>

        <% users.forEach((user) => { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.age %></td>
                <td><a id="btn-update" href="/users/update/<%= user.id %>">Modificar</a></td>
                <td><a id="btn-delete" href="/users/delete/<%= user.id %>">Eliminar</a></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>